<!DOCTYPE html>
<html lang="{{ .Lang }}"{{ if eq .Site.Language.LanguageDirection "rtl" }} dir="rtl"{{ end }} itemscope itemtype="http://schema.org/WebPage">
<head>
  {{/* For all pages */}}
  {{- partial "head.html" . -}}

  {{/* In layout file, for a group of pages with the same layout. Equivalent to Docsy's `head_extension` */}}
  {{- block "head-import" . }}{{- end }}

  {{/* In content file, for one page */}}
  {{ range .Params.cssFiles }}
  {{ $css := resources.Get . | fingerprint }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}">
  {{ end }}
  {{- $opts := (dict "outputStyle" "compressed" "vars" (partial "fn/color_mode_type")) -}}
  {{ range .Params.scssFiles }}
  {{ $scss := resources.Get . | toCSS $opts | fingerprint }}
  <link rel="stylesheet" href="{{ $scss.RelPermalink }}">
  {{ end }}
  {{ range .Params.sassFiles }}
  {{ $style := resources.Get . | toCSS $opts | fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
  {{ end }}
</head>
<body>
  {{- partial "header.html" . -}}
  <div id="main">
  {{- partial "i18n_warning.html" . }}
  {{- block "main" . }}{{- end }}
  </div>
  {{- partial "footer.html" . -}}

  {{/* For all pages */}}
  {{ partial "tail.html" . }}

  {{/* In layout file, for a group of pages with the same layout */}}
  {{- block "tail-import" . }}{{- end }}

  {{/* In content file, for one page */}}
  {{ range .Params.cdnJsFiles }}
  <script src="{{ . }}" defer=""></script>
  {{ end }}
  {{ if .Site.IsServer }}
    {{- range .Params.minJsFiles}}
    {{ $script := resources.Get . -}}
    <script src="{{ $script.RelPermalink }}"></script>
    {{- end }}
    {{ range .Params.jsFiles }}
    {{ $script := resources.Get . -}}
    <script src="{{ $script.RelPermalink }}"></script>
    {{ end }}
  {{ else }}
    {{- range .Params.minJsFiles}}
    {{ $script := resources.Get . | fingerprint -}}
    <script src="{{ $script.RelPermalink }}" integrity="{{ $script.Data.Integrity }}" crossorigin="anonymous"></script>
    {{- end }}
    {{ range .Params.jsFiles }}
    {{ $script := resources.Get . | minify | fingerprint -}}
    <script src="{{ $script.RelPermalink }}" integrity="{{ $script.Data.Integrity }}" crossorigin="anonymous"></script>
    {{ end }}
  {{ end }}
</body>
</html>
