/**
 * SPDX-FileCopyrightText: (c) 2019 Carl Schwan <carl@carlschwan.eu>
 * SPDX-FileCopyrightText: (c) 2017 Ken Vermette <vermette@gmail.com>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

main section {
  margin-top: 20px;
}

.markdown-output img {
  max-width: 100%;
}

// For kde.org
.hero {
  width: 100%;
  height: 100px;
  background-size: cover;
  background-position: center;

  &.develop {
    background-image: url(../../assets/hero-develop.png);
  }
}

/* fix for planet.kde.org */
.eventDateTime--hover.EVENT_DATE_TIME_CLASS.popover {
  display: none;
}

:root {
  --width: 100vw;
  --full-width: 100vw;

  @media (min-width: 42em) {
    --width: 42rem;
  }

  --angle: -5deg;
  /*-----------------
  Magic Number Alert:

  the 0.09719 is calculated by this formula:
  tan(11°) / 2
  11° is the current skewY value.
  ------------------*/
  --magic-number: 0.09719;
  --skew-padding: calc(var(--width) * var(--magic-number));
  --clip-padding: calc(var(--full-width) * var(--magic-number));
}

.diagonal-box {
  position: relative;
  padding: var(--skew-padding) 0;
  margin-top: -1px;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transform: skewy(var(--angle));
    transform-origin: 50% 0;
    outline: 1px solid transparent;
    backface-visibility: hidden;
  }
}

.bg-red:before {
  background-image: linear-gradient(-135deg, rgba(218,68,83,0.2), rgba(231,76,60, 0.2));
}

.bg-blue:before {
  background-image: linear-gradient(-135deg, rgba(61,174,233,0.2), rgba(29,153,243, 0.2));
}

.bg-green:before {
  background-image: linear-gradient(-135deg, rgba(39,174,96,0.2), rgba(46,204,113, 0.2));
}

.bg-yellow:before {
  background-image: linear-gradient(-135deg, rgba(253,188,75,0.2), rgba(246,116,0, 0.2));
}

.bg-purple:before {
  background-image: linear-gradient(-135deg, #9b59b611, #8e44ad11);
}

.content {
  margin: 0 auto;
  padding: 1.5em;
  position: relative;

  /* -----------
  enable the border to see, that the content
  perfectly fits into the section withou
  bleeding into the adjecting areas:
  ------------ */
  // border: 2px dashed #fff8;
}

@media (min-width: 900px) {
  .boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3%;
    margin: 2em 0;
    margin-bottom: 260px;
  
    --translation: 0;
  
    .box {
      width: 100%;
      height: 0;
      padding-bottom: 55%;
      border: 1px solid #fff;
      background: #fff3;
      transform: translateY( var(--translation) );
      //animation: translate 3s ease-in-out infinite;
  
      &:nth-child(odd) { --translation: calc(var(--skew-padding) * 1.5)}
      &:nth-child(even) { --translation: calc(var(--skew-padding) * 1)}
    }
  }
}

@media (max-width: 899px) {
  .boxes {
    display: flex;
    flex-wrap: wrap;

    .box {
      flex: 0 0 50%;
      max-width: 50%;
      padding: 0 1rem;
    }
  }
}

@media (max-width: 799px) {
  .boxes .box {
      flex: 0 0 100%;
      max-width: 100%;
      padding: 0;
  }
}

a.hanchor {
  font-size: 0.5em;
  vertical-align: middle;
}

.list-inline li {
  display: inline-block;
}

.region-sidebar-first img {
  max-width: 100%;
  height: auto;
}

blockquote {
  font-style: normal;
  font-size: 18px;
  margin-left: 32px;
  font-family: Consolas, "Times New Roman", Verdana;
  border-left: 4px solid #CCC;
  padding-left: 8px;
}
