{{/* get file that matches the filename as specified as src="" in shortcode */}}

<figure{{ with .Get "figure_class" }} class="{{ . }}"{{ end }}>
  {{- with .Get "href" -}}
    <a href='{{ . }}'>
  {{- end -}}
  <picture>
    {{- $darkname := print (substr (.Get "src") 0 -4) "-dark.png" -}}
    {{- if (in $darkname "/") -}}
      {{- if or (fileExists (print "static" $darkname)) (fileExists $darkname) -}}
      <source srcset="{{ $darkname }}" media="(prefers-color-scheme: dark)">
      {{- end -}}
      <img src="{{ .Get "src" }}" class="img-fluid{{ with .Get "img_class" }} {{ . }}{{ end }}" alt="{{ .Get "alt" }}" loading="lazy" />
    {{- else -}}
      {{- if or (fileExists (print "static/" .Page.File.Dir .Page.File.BaseFileName "/" $darkname)) (fileExists (print "/" .Page.File.Dir $darkname)) -}}
      <source srcset="{{ .Page.Permalink }}{{ $darkname }}" media="(prefers-color-scheme: dark)">
      {{- end -}}
      <img src="{{ .Page.Permalink }}{{ .Get "src" }}" class="img-fluid{{ with .Get "img_class" }} {{ . }}{{ end }}" alt="{{ .Get "alt" }}" loading="lazy" />
    {{- end -}}
  </picture>
  {{- with .Get "href" -}}
    </a>
  {{- end -}}
  {{- with .Get "caption" -}}
  <figcaption class="text-center">
    {{- . -}}
  </figcaption>
  {{- end -}}
</figure>
